.userSVG {
    height: 100px;
    width: 100px;
}


.userCard {
    background-color: var(--color-primary);
    border-radius: 30px;
    height: 300px;
    width: 275px;
    transform: translateX(30px);
    box-shadow: 15px 8px 20px rgba(0, 0, 0, 0.1);
}

.userDetails {
    height: 250px;
    width: 1150px;
    border-radius: 30px;
    background-color: white;
    outline: var(--color-primary) 4px dotted;
}

.picker input {
    display: block;
    width: 236px;
    height: auto;
    padding: 15px 19px;
    font-size: 1rem;
    line-height: 1.4;
    color: #475F7B;
    background-color: #FFF;
    border: 1px solid #DFE3E7;
    border-radius: .267rem;
    -webkit-transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

CustomInput {
    max-width: 225px;
}