.appointmentWrapper {
    height: 600px;
    width: 900px;
    box-shadow: 0px 8px 15px var(--color-gray);
    border-radius: 5px;
    background-color: #ffffff;
}

.rubrica2 {
    font-weight: 600;
}

.eticheta {
    font-weight: 600;
}

.picker input {
    display: block;
    width: 250px;
    height: auto;
    padding: 15px 19px;
    font-size: 1rem;
    line-height: 1.4;
    color: #475F7B;
    background-color: #FFF;
    border: 1px solid #DFE3E7;
    border-radius: .267rem;
    -webkit-transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.picker input:focus {
    color: #475F7B;
    background-color: #FFF;
    border-color: #5A8DEE;
    outline: 0;
    box-shadow: 0 3px 8px 0 rgb(0 0 0 / 10%);
}