.buttonPrimary{
    width: 140px;
    height: 45px;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;;
}

.buttonPrimary:hover{
    background-color: var(--color-primary);
    box-shadow: 0px 15px 20px var(--color-secondary);
    color: #fff;
    transform: translateY(-7px);
}

.buttonPrimary:active{
    transform: translateY(-4px);
}


.buttonSecondary{
    width: 140px;
    height: 45px;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;;
}

.buttonSecondary:hover{
    border: var(--color-primary) 1px solid;
    box-shadow: 0px 15px 20px var(--color-gray);
    transform: translateY(-7px);
}

.buttonSecondary:active{
    transform: translateY(-4px);
}