.loginWrapper {
    height: 600px;
    width: 500px;
    box-shadow: 0px 8px 15px var(--color-gray);
    border-radius: 50px;
    background-color: #ffffff;
    z-index: 1;
}

.rubrica2 {
    font-weight: 600;
    margin-bottom: 60px;
}

.formInputs {
    gap: 25px;
}
