.wrapper {
    gap: 20px;
    background-color: var(--color-bg);
}

.upcoming_appointments_box {
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 0px 15px 20px var(--color-gray);
}

.upcoming_appointments {
    gap: 40px;
}