body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  overflow: hidden;
  --color-gray: #D2D2D2;
  --color-bg: #F3F8FD;
  --color-primary: #2785FF;
  --color-secondary: #2C50EE;
  --color-tertiary: #8270FA;   
  background-color: var(--color-bg);
}

html * {
  font-size: 14px;
  color: black;
  font-family: Nunito, sans-serif;
}